<template>
    <section class="container catalog">
        <h1>tinMan Catalog</h1>
        <div class="name">by Tlangelani Mboweni</div>
        <div class="row">
            <div class="col-md-2 category-filter">
                <h4>Shop by Category</h4>
                <div class="checkbox" v-for="category in categories">
                    <label>
                        <input type="checkbox" :value="category.id" v-model="checkedCategories">
                        {{category.name}}
                    </label>
                </div>
            </div>
            <div class="col-md-10">
                <div class="product" v-if="products.length > 0">
                    <div class="row search">
                        <div class="col-md-12">
                            <input class="form-control" type="text" v-model="search" placeholder="Search Products...">
                        </div>
                    </div>
                    <div class="row">
                        <div v-for="product in filteredProducts" v-bind:key="product.id" class="col-md-3 col-sm-3">
                            <section class="product">
                                <div class="thumbnail">
                                    <div :style="{'background-image': `url('/storage/products/${product.image}')`}" class="image-container"></div>
                                    <div class="caption">
                                        <h3>{{product.title}} <span class="label label-warning pull-right">{{product.category.name}}</span></h3>
                                        <p>{{product.description}}</p>
                                        <p class="price">R{{product.price}}</p>
                                        <p class="actions">
                                            <a href="#" class="btn btn-info" role="button">Add to Cart</a>
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <p v-else class="alert alert-warning">
                    No Products!
                </p>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'catalog-component',
        data() {
            return {
                products: [],
                categories: [],
                search: '',
                checkedCategories: []
            }
        },
        created() {
            this.getProducts();
            this.getCategories();
        },
        computed: {
            filteredProducts: function() {
                return this.products.filter(product => {
                    if (this.checkedCategories.length === 0) {
                        return product.title.toLowerCase().match(this.search.toLowerCase());
                    } else {
                        return (this.checkedCategories.includes(product.category_id)) && (product.title.toLowerCase().match(this.search.toLowerCase()));
                    }
                });
            }
        },
        methods: {
            getProducts() {
                fetch('/api/products')
                    .then(res => res.json())
                    .then(res => {
                        this.products = res.data;
                    })
            },
            getCategories() {
                fetch('/api/categories')
                    .then(res => res.json())
                    .then(res => {
                        this.categories = res.data;
                    })
            },
            clickedCategory(category) {
                this.filterBy = category;
            },
            getUrl(image) {
                return `/storage/products/${image}`;
            }
        }
    }
</script>

<style lang="scss">
    section.catalog {
        h1 {
            text-align: center;
        }
        .name {
            font-size: 14px;
            color: #cccccc;
            text-align: center;
            margin-bottom: 10px;
        }
        .product {
            .thumbnail {
                .image-container {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 240px;
                    min-height: 100%;
                }
            }
        }
        .search {
            margin-bottom: 20px;
        }
        .category-filter {
            margin-top: 45px;
            .checkbox {
                label {
                    text-transform: uppercase;
                }
            }
        }
    }
</style>
