<template>
    <section class="count">
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{categories}}</h2>
                <h4>Categories</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{products}}</h2>
                <h4>Products</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{visitors}}</h2>
                <h4>Visitors</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{users}}</h2>
                <h4>Users</h4>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'count-component',
        data() {
            return {
                categories: 0,
                products: 0,
                visitors: 0,
                users: 2
            }
        },
        created() {
            this.getCounts();
        },
        methods: {
            getCounts() {
                const urls = ['/api/categories', '/api/products'];
                const getContent = url => fetch(url)
                    .then(res => res.json())
                    .then(res => {
                        if (url === '/api/categories') {
                            this.categories = res.data.length;
                        } else if (url === '/api/products') {
                            this.products = res.data.length;
                        }
                    });
                Promise
                    .all(urls.map(getContent))
                    .then(() => {
                        // console.log(`Urls ${urls} were grabbed`);
                    });
            }
        }
    }
</script>

<style lang="scss">
    .count {
        .dash-box {
            text-align: center;
            * {
                color: #333333;
            }
        }
    }
</style>
