<template>
    <section class="container dashboard">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                    </a>
                    <a href="/admin/products" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Products</a>
                    <a href="/admin/categories" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Categories</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Website overview</h3>
                    </div>
                    <div class="panel-body">
                        <Count />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Count from './CountComponent';

    export default {
        name: 'dashboard-component',
        components: {
            Count
        },
        data() {
            return {

            }
        }
    }
</script>

<style lang="scss">
    .dashboard {
        .list-group-item {
            &.active {
                background-color: #333333;
                border-color: #333333;
                color: white;
            }
        }
    }
</style>
