.product {
    .thumbnail {
        border-radius: 0;
        padding: 0;
        .caption {
            h3 {
                margin: 6px 0;
                font-size: 14px;
                font-weight: bold;
            }
            .actions {
                margin: 0;
            }
        }
    }
}

.btn {
    border-radius: 0;
}

.login {
    .header {
        text-align: center;
        margin: 45px 0;
        font-size: 32px;
        font-weight: bold;
    }
}
