@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background: black;
    margin-top: 50px;
}

#header {
    background: #333333;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
    .dropdown {
        padding-top: 20px;
    }
}

.alert {
    margin-top: 20px;
}

.container {
    color: white;
}

.btn, input[type="text"], textarea, select { border-radius: 0 !important; }

.product {
    .thumbnail {
        border-radius: 0;
        padding: 0;
        .image-container {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 240px;
            min-height: 100%;
        }
        .caption {
            h3 {
                margin: 6px 0;
                font-size: 14px;
                font-weight: bold;
            }
            .actions {
                margin: 0;
            }
        }
    }
}

.products {
    .actions {
        form {
            display: inline;
        }
    }
}

.categories {
    .list-group-item {
        color: #000;
        font-weight: bold;
    }
    .actions {
        form {
            display: inline;
        }
    }
}
